table{
    border-collapse: collapse;
    width: 100%;
    
}

td{
    border: 1px solid rgb(1, 1, 1);
    padding: 8px;
}

h2{
    text-align: center;
}
a{
    color: rgb(31, 143, 234);
     
}
